@font-face {
  font-family: Minecraft;
  src: url(../fonts/Minecraft.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Minecraft";
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background: url("../img/main1.jpeg") no-repeat center center/cover;
}
a,
.start-button {
  width: 200px;
  height: 50px;
  margin-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  font-size: 25px;
  padding: 5px;
}
.container {
  width: 800px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
}
.game-world {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  column-gap: 0;
  align-items: center;
  justify-content: center;
  height: 800px;
  background-color: skyblue;
}

.cell {
  width: 40px;
  height: 40px;
}

.cell:hover {
  border: 1px blue solid;
}

/* --------------------- Materials ----------------------- */
.ground {
  background: url("../img/ground.jpg") no-repeat center center / cover;
}

.grass-top {
  background: url("../img/grass-top_ground.jpg") no-repeat center center/cover;
}

.tree-trunk {
  background: url("../img/tree-trunk.jpg") no-repeat center center/cover;
}

.leaves-bush {
  background: url("../img/leaves-bush.jpg") no-repeat center center/cover;
}

.cloud {
  background: url("../img/cloud.jpg") no-repeat center center/cover;
}
.stone {
  background: url("../img/stone.jpg") no-repeat center center/cover;
}

/* ---------------- Tools and Inventory ------------------ */

.tool-panel {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: calc(100vh - 800px);
  background-color: black;
}
/* ------------------------ Tools  ----------------------- */
.tools {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tool {
  border: 1px solid #333;
  margin: 25px 20px;
  color: grey;
  text-align: end;
  padding-top: 100px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: bold;
}

.axe {
  background: url("../img/axe.png") no-repeat center center/cover;
}
.axe-clicked {
  background: url("../img/axe.png") no-repeat center center/cover;
  background-color: green;
  color: black;
}
.pick-axe {
  background: url("../img/diamond_pickaxe.png") no-repeat center center/cover;
}
.pick-axe-clicked {
  background: url("../img/diamond_pickaxe.png") no-repeat center center/cover;
  background-color: green;
  color: black;
}
.shovel {
  background: url("../img/shovel.png") no-repeat center center/cover;
}
.shovel-clicked {
  background: url("../img/shovel.png") no-repeat center center/cover;
  background-color: green;
  color: black;
}

.axe:hover,
.pick-axe:hover,
.shovel:hover,
.axe-clicked:hover,
.pick-axe-clicked:hover,
.shovel-clicked:hover {
  border: 1px solid white;
}
/* ---------------------- Buttons --------------------- */
.buttons {
  justify-content: space-between;
  flex-direction: column;
  margin: 25px 20px;
  color: grey;
  font-size: 20px;
  font-weight: bold;
}

.reset-button {
  height: 50px;
  width: 100px;
  margin-left: 5px;
}

.quit-button {
  height: 50px;
  width: 100px;
  margin-top: 15px;
}

/* ---------------------- Inventory --------------------- */
.inventory {
  border-left: 1px solid #333;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50px);
}

.inventory-item {
  border: 1px solid #333;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 25px;
  color: red;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 5px;
}

.inv-ground {
  background: url("../img/ground.jpg") no-repeat center center / cover;
}

.inv-grass-top {
  background: url("../img/grass-top_ground.jpg") no-repeat center center/cover;
}

.inv-tree-trunk {
  background: url("../img/tree-trunk.jpg") no-repeat center center/cover;
}

.inv-leaves-bush {
  background: url("../img/leaves-bush.jpg") no-repeat center center/cover;
}

.inv-cloud {
  background: url("../img/cloud.jpg") no-repeat center center/cover;
}
.inv-stone {
  background: url("../img/stone.jpg") no-repeat center center/cover;
}

.inv-ground:hover,
.inv-grass-top:hover,
.inv-tree-trunk:hover,
.inv-leaves-bush:hover,
.inv-cloud:hover,
.inv-stone:hover {
  border: 3px solid red;
}

/* ---------------------- Dymanics --------------------- */
