@font-face {
  font-family: Minecraft;
  src: url(../fonts/Minecraft.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Minecraft";
}

.container {
  width: 800px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
}
.game-world {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  column-gap: 0;
  align-items: center;
  justify-content: center;
  height: 800px;
  background-color: skyblue;
}

.cell {
  width: 40px;
  height: 40px;
}

.cell:hover {
  border: 1px blue solid;
}

/* --------------------- Materials ----------------------- */
.ground {
  background: url("../img/ground.jpg") no-repeat center center / cover;
}

.grass-top {
  background: url("../img/grass-top_ground.jpg") no-repeat center center/cover;
}

.tree-trunk {
  background: url("../img/tree-trunk.jpg") no-repeat center center/cover;
}

.tree-top {
  background: url("../img/tree-top.jpg") no-repeat center center/cover;
}

.cloud {
  background: url("../img/cloud.jpg") no-repeat center center/cover;
}
.stone {
  background: url("../img/stone.jpg") no-repeat center center/cover;
}
.bush {
  background: url("../img/bush.jpg") no-repeat center center/cover;
}
/* ---------------- Tools and Inventory ------------------ */

.tool-panel {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: calc(100vh - 800px);
  background-color: black;
}
/* ------------------------ Tools  ----------------------- */
.tools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tool {
  border: 1px solid #333;
  margin: 20px 40px;
  color: grey;
  text-align: end;
  padding-top: 80px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: bold;
}

.tool1 {
  background: url("../img/axe.png") no-repeat center center/cover;
}
.tool2 {
  background: url("../img/diamond_pickaxe.png") no-repeat center center/cover;
}
.tool3 {
  background: url("../img/shovel.png") no-repeat center center/cover;
}

.tool1:hover,
.tool2:hover,
.tool3:hover {
  border: 1px solid white;
}
/* ---------------------- Inventory --------------------- */
.inventory {
  border-left: 1px solid #333;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50px);
}

.inventory-item {
  border: 1px solid #333;
  width: 40px;
  height: 40px;
  margin-top: 25px;
  margin-left: 25px;
  color: black;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 5px;
}

.inv-item1 {
  background: url("../img/ground.jpg") no-repeat center center / cover;
}

.inv-item2 {
  background: url("../img/grass-top_ground.jpg") no-repeat center center/cover;
}

.inv-item3 {
  background: url("../img/tree-trunk.jpg") no-repeat center center/cover;
}

.inv-item4 {
  background: url("../img/tree-top.jpg") no-repeat center center/cover;
}

.inv-item5 {
  background: url("../img/cloud.jpg") no-repeat center center/cover;
}
.inv-item6 {
  background: url("../img/stone.jpg") no-repeat center center/cover;
}

.inv-item1:hover,
.inv-item2:hover,
.inv-item3:hover,
.inv-item4:hover,
.inv-item5:hover,
.inv-item6:hover {
  border: 3px solid red;
}

/* ------------- Tools and Inventory hover --------------- */
